ul{
    margin: 0;
    padding: 0;
}
.footer {
    padding: 10px;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgb(23,35,55);
    border-top: 1px solid black;
}
.footer ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.footer ul li a{
    color: white;
    text-decoration: none;
}
.footer h5{
    color: white;
    margin-top: 10px;
}