h1{
    color: blue;
    margin-top: 30px;
}

table{
    text-align: left;
    color: blue;
    border-collapse: collapse;
}
img{
    height: 100px;
    width: 100px;
}
table td , table th{
    border: 1.5px solid blue;
    padding: 10px;
    min-width: 160pxs;
}
.adjust-update-link{
    margin-left: 10px;
    text-decoration: none;
    color: white;
}

.product-list{
    margin-bottom: 20px;
}

button{
   margin-bottom: 2px;
}